{% extends "::base.html.twig" %}

{% block body %}
    <form id="my-form">
        <label for="calc-input">Калькулятор: </label>
        <input type="text" name="calc" id="calc-input" value="2+2" required data-msg="Введите выражение для расчета"
               placeholder="2+2">
        <p>
            Результат: <span id="calc-result" style="color: forestgreen;font-weight: 900"></span>
        </p>
        <p>
            Ошибки: <span id="errors-bag" style="color: red;"></span>
        </p>
        <button type="submit">Рассчитать</button>
    </form>
    <script type="application/javascript">
        window.onload = function () {
            $('#my-form').validate(
                    {
                        submitHandler: function (form) {
                            $('#calc-result').text('');
                            $('#errors-bag').empty();
                            var expr = $(form).find('input[name=calc]').val();
                            $.ajax({
                                url: '{{ path("calc_route") }}',
                                dataType: 'jsonp',
                                type: 'GET',
                                data: {'expr': expr},
                                success: function (r) {
                                    if (r.status == 1) {
                                        $('#calc-result').text(r.result);
                                    }
                                    if (r.errors.length > 0) {
                                        r.errors.forEach(function ($e) {
                                            $('#errors-bag').append($e + '<br>');
                                        })
                                    }
                                },
                                error: function () {
                                    alert("Error");
                                }
                            });
                            return false;
                        }
                    });
        };
    </script>
{% endblock %}
