<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Калькулятор</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="application/javascript" src="https://yastatic.net/jquery/2.2.3/jquery.min.js"></script>
        <script type="application/javascript"
                src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    </body>
</html>
